.image_size_carousel {
  height: 88vh;
  object-fit: cover;
}

.margin-top-100px {
  margin-top: 100px;
}

.text_carousel {
  background-color: grey;
  opacity: 0.70;
  letter-spacing: .2rem;
  color: white;
  border-radius: 5px;
  text-shadow: 2px 2px 4px #000000;
}