body {
	font-family: 'Arima Madurai', cursive;
	text-align: center;
}

.navbar {
  background-color: #99848C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px grey;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  overflow: hidden;
}

.logo {
  text-decoration: none;
}

.logo > img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.link {
  text-decoration: none;
  margin: 20px;
  padding: 15px;
  color: white;
  font-size: 18px;
  font-family: "Arima Madurai", cursive;
  letter-spacing: 1px;
  border-radius: 4px;
}

h2 {
	text-align: center;
  margin-top: 100px;
}

.images_300w_200h {
	height: 250px;
	border-color: #F7AEB6;
}