@import"css/navbar.css";
@import"css/carousel.css";
@import"css/partners.css";

html {
  scroll-behavior: smooth;
}

body {
  -webkit-overflow-scrolling: touch;
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  margin-bottom: 100px;
}

h2 {
  color: #99848C;
  text-align: center;
  font-size: 48px;
  width: 60vw;
  margin: auto;
  padding: 20px;
  margin-top: 25px;
  margin-bottom:25px; 
}

h3 {
  color: #F7AEB6;
  text-align: center;
}

h5 {
  color: #F7AEB6;  
}

.flex_col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex_col_address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex_row_date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

i {
  color: grey;
  width: 40px;
  font-size: 25px;
}
